<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-route/angular-route.js"></script>
<script src="./codeController.js"></script>
<script src="./testController.js"></script>

<html ng-app="liveTester">

	<div ng-controller="codeCtrl" style="float:left; width:400px; height:100%">
		<textarea placeholder="Write your code here." ng-model="code" ng-blur="runTests()" style="width:400px; height:500px"></textarea>
		<button ng-click="runTests()">Click to run your code.</button>
	</div>

	<div ng-controller="testCtrl" style="width:400px; height:100%; float:left; border-color:black; border-style:solid; border-width:2px">
		<div ng-repeat="test in tests track by $index" style="width:100%; overflow:auto">
			<button ng-click="newTest()" style="float:left">+</button>
			<div style="display:block; float:left">
				<input style="display:block" placeholder="Name your test here."></input>
				<input style="display:block" placeholder="Write your test here." ng-focus="test.result='Working...'" ng-model="test.code" ng-blur="update(test)" ng-keypress="enterCheck($event.which,test)"></input>
				<div>{{test.result}}</div>
			</div>
		</div>
	</div>

</html>